* {
    margin: 0;
}
#header {
    width: 100%;
    height: 95px;
    background-color: #121214;
    float: none;
    top:0;
    position:absolute;
    z-index: 999999;
}

#header.stick {
    position:fixed;
    top:0;
  }

  nav {
    float: right;
  }


nav.link {
    width: 80px;
    height: 60px;
    padding: 1px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.link1 {
    margin-top: 32px;
    width: 30px;
    height: 25px;
    padding: 1px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    

}
.link2 {
    margin-top: 32px;
    width: 20.5px;
    height: 25px;
    padding: 1px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    
}

#large1 {
    width: 35px;
    height: 30px;
    padding: 30px;
    
}
#large2 {
    width: 35px;
    height: 30px;
    padding: 30px;
}

#large3 {
    width: 40px;
    height: 30px;
    padding: 30px;
}

#large4 {
    width: 35px;
    height: 37.5px;
    padding: 1px;
    
}


main {
    width: 100%;
    height: 100%;
    margin-top: 95px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.logo {
    height: 95px;
    width: 95px
}

section {
    align-self: center;
    border: 1px solid red;
    box-sizing: border-box;
    height: 33.33%;
    position: relative;
}

.lol1 {
    align-self: auto;
    width: calc(100% / 10 * 5);
    background-size: cover;
    height: 45%;
    
}

.lol2 {
    width: calc(100% / 10 * 3);
     margin-top: auto;
     margin-right: 50%;
    
}

.lol3 {
    width: calc(100% / 10 * 2);
    margin-top: auto;
   
}

.video {
    width: 100%;
    height: 100%;
}

.dj {
    width: 100%;
    height: 100%;
}

.photo {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 4000px) and  (orientation: landscape){

}